<nav class="my-header header navbar navbar-expand-md px-lg-5">
  <div class="text-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="d-flex justify-content-between align-items-center w-100">
      <a class="navbar-brand d-sm-none d-md-block" routerLink="">
        <div class="d-none d-md-block">
          <img src="assets/logo-white.png" alt="">
        </div>
      </a>
      <div>
        <div class="d-md-flex d-block">
          <div class="my-nav-link px-md-4 py-2 px-0 text-right"><a href="">HOME</a></div>
          <div class="my-nav-link px-md-4 py-2 px-0 text-right"><a href="">ABOUT ME</a></div>
          <div class="my-nav-link px-md-4 py-2 px-0 text-right"><a href="">CONTACT ME</a></div>
          <div class="my-nav-link px-md-4 py-2 px-0 text-right"><a href="">SERVICES</a></div>
        </div>
      </div>
      <div class="d-none d-md-block">
        <button class="say-hello-btn btn btn-lgfont-weight-bolder btn-outline-primary px-5 rounded-pill" (click)="say_hello()">SAY HELLO</button>
      </div>
    </div>
  </div>
</nav>
