.line {
  height: 2px;
  max-width: 300px;
  background-color: gray;
}
.card-one {
  text-align: center;
  transition: 0.5s;
}
.card {
  cursor: pointer;
}

.card-one:hover {
  z-index: 2;
  transform: scale(1.3);
}

.skills:hover .card {
  opacity: 0.3;
}

.skills .card:hover {
  filter: blur(0px);
  opacity: 1;
  transform: scale(1.4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card .official {
  display: none;
  position: absolute;
}

.card .label {
  display: block;
}

.card:hover .label {
  display: none;
}

.card:hover .official {
  display: block;
}

.skill-icon {
  font-size: 50px;
}
.skill-icon-and-name {
  font-size: 20px;
}
.skill-category {
  font-size: 11px;
}

.skill-level {
  font-size: 11px;
}

.description {
  font-size: 14px;
  max-width: 500px;
}

.skill {
  height: 120px;
}
