<div class="root px-lg-5 px-2 pt-3">
  <div class="row mx-lg-5 mx-0">
    <div class="col-lg-3 col-md-6 col-12">
      <h4 class="pt-4 font-weight-bolder">About Anselme</h4>
      <p class="about text-white pt-3">
        I'm a multi-talented human with over 2+ years of
        experiences in wide range of software development disciplines.
        I help agencies, individuals , small and large businesses bring their ideas to life
        and connect with their customers in a digital way.
      </p>
    </div>
    
    <div class="col-lg-3 col-md-6 col-12 pb-5 pt-4">
      <div class="services">
        <h4 class="font-weight-bolder pl-4 pb-4">My services</h4>
        <ul>
          <li>Web Designing</li>
          <li>Problem Analysis</li>
          <li>Mobile Designing</li>
          <li>Web Development</li>
          <li>Mobile Development</li>
          <li>Product Designing</li>
          <li>Graphic Desigining</li>
          <li>Photography</li>
          <li>Photo editing and manupilation</li>
          <li>System Desigining</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-5 py-3 col-12">
      <div class="p-2">
        <h4 class="font-weight-bolder">Contact me</h4>
        <form class="pt-4 text-white" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-6 form-group">
              <label for="names" class="text-white">Full Names</label>
              <input id="names" type="text" [class]="'form-control form-control-sm '+(f.first_name.touched && f.first_name.invalid ? 'is-invalid' : '')" formControlName="first_name">
              <span *ngIf="f.first_name.touched && f.first_name.invalid" class="invalid-feedback" role="alert">
                <strong *ngIf="f.first_name.errors.required" class="text-danger">First name is required.</strong>
                <strong *ngIf="f.first_name.errors.minlength" class="text-danger">First name at least less than 3 chars.</strong>
              </span>
            </div>
            <div class=" col-6 form-group">
              <label for="email" class="text-white">Your Email</label>
              <input id="email" type="text" class="form-control form-control-sm" [class]="'form-control form-control-sm '+(f.email.touched && f.email.invalid ? 'is-invalid' : '')" formControlName="email">
              <span *ngIf="f.email.touched && f.email.invalid" class="invalid-feedback" role="alert">
                <strong *ngIf="f.email.errors.required" class="text-danger">Email is required.</strong>
                <strong *ngIf="f.email.errors.email" class="text-danger">Email must be a valid email</strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="text-white">Your Message</label>
            <textarea id="message" rows="4" class="form-control form-control-sm" [class]="'form-control form-control-sm '+(f.message.touched && f.message.invalid ? 'is-invalid' : '')" formControlName="message"></textarea>
            <span *ngIf="f.message.touched && f.message.invalid" class="invalid-feedback" role="alert">
              <strong *ngIf="f.message.errors.required" class="text-danger">Message is required.</strong>
              <strong *ngIf="f.message.errors.minlength" class="text-danger">Message must be at least 10 chars</strong>
            </span>
          </div>
          <button class="btn btn-success px-5 shadow-lg mt-3">
            SEND
          </button>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <div class="medias pb-3 mx-0 text-center">
    <div class="m-lg-auto d-lg-inline-block">
      <div class="row">
        <a
          *ngFor="let media of medias"
          class="h2 active-media d-flex justify-content-between align-items-center"
          [href]="media.to"
        >
          <span [class]="' mdi mdi-'+media.icon"></span>
          <div class="label">{{ media.label }}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="designer pb-2 pr-3 text-right">
    Designed by @ IRUMVA HABUMUGISHA Anselme
  </div>
</div>
