.root {
  background-color: #2f2e41;
  font-size: 14px;
}

label {
  font-size: 14px;
}

.about {
  font-size: 14px;
  color: gray;
}

.form-control,
.form-control:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 0;
  border-bottom: 1px solid #6c63ff;
}

.medias {
  max-width: 100%;
}

.medias span {
  color: orange;
  display: inline-block;
  transition: 1s;
}

.services ul {
  list-style-type: square;
  color: #fafafa;
}

.services li {
  color: white;
}

h4 {
  color: #ffe600;
  font-size: 17px;
}

.active-media {
  background-color: transparent;
  border-radius: 30px;
  padding: 0 10px;
  margin: 0 10px;
  transition: 1s;
  cursor: pointer;
}

.active-media .label {
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding-left: 17px;
  transition: 1s;
}

.active-media .label {
  display: none;
}

.active-media:hover {
  background-color: grey;
  z-index: 1;
  text-decoration: none;
}

.active-media:hover .label {
  display: block;
  text-decoration: none;
}

.designer {
  font-size: 12px;
}
