.root
{
  background-color: #2F2E41;
}

.composition {
  position: relative;
  height: 350px;
}

.composition-photo {
  width: 60%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  transition: all .2s;
  outline-offset: .5rem;
}
.composition-photo:hover {
  outline: .6rem solid #6C63FF;
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.9);
  z-index: 3;
}
.composition-p1 {
  left: 0;
  top: -.75rem
}
.composition-p2 {
  right: 0;
  top: 2rem;
}
.composition-p3 {
  left: 20%;
  top: 4rem;
}
.composition:hover .composition-photo:not(:hover){
  transform: scale(.9);
}

label
{
  font-size: 14px;
}

.form-control, .form-control:focus
{
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 5px 5px 0 0;
  border: 0;
  border-bottom: 1px solid #6C63FF;
}

.medias
{
  max-width: 100%;
}

.medias span
{
  color: orange;
  display: inline-block;
  transition: 1s;
}

.services ul
{
  list-style: square;
  color: #FAFAFA;
}

.services li
{
  color: white;
}

h4
{
  color: #FFE600;
  font-size: 17px;
}

.active-media
{
  background-color: transparent;
  border-radius: 30px;
  padding: 0 10px;
  margin: 0 10px;
  transition: 1s;
  cursor: pointer;
}

.active-media .label
{
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding-left: 17px;
  transition: 1s;
}

.active-media .label
{
  display: none;
}

.active-media:hover
{
  background-color: grey;
  z-index: 1;
  text-decoration: none;
}

.active-media:hover .label
{
  display: block;
  text-decoration: none;
}

.designer
{
  font-size: 12px;
}
