<div class="mx-lg-4 my-2 mx-2">
  <div class="root card pt-5 pb-3">
    <div class="card-icon">
      <span [class]="'mdi'+icon"></span>
    </div>
    <div class="card-title text-center">
      <h5 class="card-title-header font-weight-bolder">{{ name }}</h5>
    </div>
    <div class="card-label text-uppercase text-center pb-3">{{ lable }}</div>
    <div class="my-card-body text-center p-3">{{ description }}</div>
    <div class="mt-4 mx-3">
      <button class="btn btn-primary btn-block text-uppercase shadow-sm" (click)="request_quote()">request a quote</button>
    </div>
  </div>
</div>
